NEXT_PUBLIC_API_URL=http://localhost:5002
NEXT_PUBLIC_SOCKET_URL=http://localhost:5002
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_LIFECARE_URL=https://lifecare-frontend-navy.vercel.app
NEXT_PUBLIC_RAPIDCARE_URL=http://localhost:3000
